* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contador button{
    color: aliceblue;
    height: 50px;
    width: 50px;
    padding: 10%;
    cursor: pointer;
    transition: filter 0.2s;
}

.operadores button:hover{
    filter: drop-shadow(0.9);
}