* {
    padding: 0;
    margin: 0;
    background-color: rgb(215, 230, 244);
}

.nome {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    color: blueviolet;

}

.nome p{
    margin: 20px;
}